/* section-list styles are in globals.scss*/

.section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  &_icons {
    background-color: $section-color;
    margin-bottom: 30px;
    padding: 25px 100px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_header {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }

  &_description {
    line-height: 1.71;
    color: $description-text-color;
  }
}

@media screen and (min-width: $breakpoint-tablet-start) and (max-width: $breakpoint-tablet-end) {
  .section-list {
    &_element {
      flex-basis: calc((100% - 30px) / 2);
    }

    &_header {
      text-align: left;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop-start) {
  .section-list {
    flex-wrap: nowrap;
    &_header {
      text-align: left;
    }
  }
}
