.button-order {
  min-width: 200px;
  background-color: $action-color;
  color: $brand-white;
  padding: 10px 42px;
  border-style: none;
  border-radius: 4px;
  box-shadow: $ButtonShadow;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: 'roboto';
  cursor: pointer;
  transition-property: color, background-color, outline, box-shadow;
  transition: $defaultTransitionDuration, $defaultTransitionTiming;

  &:hover,
  &:focus {
    background-color: $brand-white;
    color: $action-color;
  }
}

.close-modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: $brand-white;
  border: 1px solid $close-button-border;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.button-submit {
  background-color: $action-color;
  color: $brand-white;
  min-width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &:focus {
    outline: none;
  }
}

.button-newsletter {
  background-color: $action-color;
  color: $brand-white;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  &_singup {
    padding: 10px 24px 10px 0px;
  }
}

.button-offer {
  border-style: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-family: 'roboto';
  background-color: $section-color;
  color: $main-text-color;
  padding: 8px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: $defaultTransitionDuration;
  transition-timing-function: $defaultTransitionTiming;

  &:hover,
  &:focus {
    color: $brand-white;
    background-color: $action-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 1, 2, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    outline: none;
  }
}

@media screen and (min-width: $breakpoint-tablet-start) and (max-width: $breakpoint-tablet-end) {
  .button-newsletter {
    width: 100%;
  }
}
