.client-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  &_element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: $brand-grey-svg-icons;

    transition-property: color;
    transition-duration: $defaultTransitionDuration;
    transition-timing-function: $defaultTransitionTiming;

    &:hover,
    &:focus {
      color: $action-color;
      outline: none;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet-start) and (max-width: $breakpoint-tablet-end) {
  .client-wrap_li {
    flex-basis: calc((100% - 40px) / 3);
  }
}

@media screen and (min-width: $breakpoint-desktop-start) {
}
