/* section-list styles using in this section are defined in globals.scss*/

.section-team {
  background-color: $section-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-team {
  background-color: $brand-white;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  &_member {
    padding-top: 30px;
    padding-bottom: 30px;

    &--names {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      margin-bottom: 10px;
      text-align: center;
    }

    &--profession {
      font-size: 16px;
      line-height: 1.19;
      color: $description-text-color;
      text-align: center;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet-start) and (max-width: $breakpoint-tablet-end) {
  .box-team {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: $breakpoint-desktop-start) {
}
