$brand-white: #ffffff;
$section-color: #f5f4fa;
$accent-color: #2f303a;
$action-color: #2196f3;
$borders-color: #eeeeee;
$brand-black: #000000;
$main-text-color: #212121;
$description-text-color: #757575;
$border-bottom-header: #ececec;
$showcase-bg: rgba(47, 48, 58, 0.4);
$social-media-footer-color: rgba(255, 255, 255, 0.1);
$footer-contact: rgba(255, 255, 255, 0.6);
$brand-grey-svg-icons: #afb1b8;
$overlay: rgba(33, 150, 243, 0.9);
$offer-photos: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$close-button-border: rgba(0, 0, 0, 0.1);
$modal-form-label: rgba(117, 117, 117, 1);
$modal-icon: rgba(33, 33, 33, 1);
$modal-border: rgba(33, 33, 33, 0.2);
$modal-placeholder: rgba(117, 117, 117, 0.5);

$defaultTransitionDuration: 250ms;
$defaultTransitionTiming: cubic-bezier(0.4, 0, 0.2, 1);

$ButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

$breakpoint-phone-end: 767px;
$breakpoint-tablet-start: 768px;
$breakpoint-tablet-end: 1199px;
$breakpoint-desktop-start: 1200px;
